openapi: 3.2.0
info:
  title: Dwolla mass payments API
  version: '2.0'
  contact:
    name: Dwolla Developer Relations Team
    url: https://developers.dwolla.com
    email: api@dwolla.com
  license:
    name: MIT
    url: https://github.com/Dwolla/dwolla-openapi/blob/master/LICENSE
  termsOfService: https://www.dwolla.com/legal/tos/
  description: 'Operations tagged mass payments across 2 of this provider''s published API definitions: dwolla-mass-payments-openapi.yml, dwolla-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.dwolla.com
  description: Production server
- url: https://api-sandbox.dwolla.com
  description: Sandbox server
security:
- clientCredentials: []
tags:
- name: mass payments
  description: Operations related to Mass Payments
paths:
  /mass-payments:
    post:
      tags:
      - mass payments
      summary: Initiate a mass payment
      description: Create a mass payment containing up to 5,000 individual payment items from a Dwolla Main Account or Verified Customer funding source. Supports optional metadata, correlation IDs for traceability, deferred processing, and expedited transfer options including same-day ACH clearing. Returns the location of the created mass payment resource with a unique identifier for tracking and management.
      operationId: initiateMassPayment
      x-speakeasy-group: massPayments
      x-speakeasy-name-override: create
      x-codeSamples:
      - lang: bash
        source: "POST https://api-sandbox.dwolla.com/mass-payments\nAccept: application/vnd.dwolla.v1.hal+json\nContent-Type: application/vnd.dwolla.v1.hal+json\nAuthorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY\nIdempotency-Key: 19051a62-3403-11e6-ac61-9e71128cae77\n\n{\n    \"_links\": {\n        \"source\": {\n            \"href\": \"https://api-sandbox.dwolla.com/funding-sources/707177c3-bf15-4e7e-b37c-55c3898d9bf4\"\n        }\n    },\n    \"achDetails\": {\n      \"source\": {\n        \"addenda\": {\n          \"values\": [\"ABC123_AddendaValue\"]\n        }\n      }\n    },\n    \"clearing\": {\n      \"source\": \"next-available\"\n    },\n    \"items\": [\n      {\n        \"_links\": {\n            \"destination\": {\n                \"href\": \"https://api-sandbox.dwolla.com/funding-sources/9c7f8d57-cd45-4e7a-bf7a-914dbd6131db\"\n            }\n        },\n        \"amount\": {\n            \"currency\": \"USD\",\n            \"value\": \"1.00\"\n        },\n        \"clearing\": {\n          \"destination\": \"next-available\"\n        },\n        \"metadata\": {\n            \"payment1\": \"payment1\"\n        },\n        \"achDetails\": {\n          \"destination\": {\n            \"addenda\": {\n              \"values\": [\"ZYX987_AddendaValue\"]\n            }\n          }\n        },\n        \"correlationId\": \"ad6ca82d-59f7-45f0-a8d2-94c2cd4e8841\",\n        \"processingChannel\": {\n          \"destination\": \"instant\"\n        }\n      },\n      {\n        \"_links\": {\n            \"destination\": {\n                \"href\": \"https://api-sandbox.dwolla.com/funding-sources/b442c936-1f87-465d-a4e2-a982164b26bd\"\n            }\n        },\n        \"amount\": {\n            \"currency\": \"USD\",\n            \"value\": \"5.00\"\n        },\n        \"clearing\": {\n          \"destination\": \"next-available\"\n        },\n        \"metadata\": {\n            \"payment2\": \"payment2\"\n        },\n        \"achDetails\": {\n          \"destination\": {\n            \"addenda\": {\n              \"values\": [\"ZYX987_AddendaValue\"]\n              }\n            }\n        }\n      }\n    ],\n    \"metadata\": {\n        \"batch1\": \"batch1\"\n    },\n    \"correlationId\": \"6d127333-69e9-4c2b-8cae-df850228e130\"\n}\n"
      - lang: javascript
        source: "// Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node\nvar requestBody = {\n  _links: {\n    source: {\n      href: \"https://api-sandbox.dwolla.com/funding-sources/707177c3-bf15-4e7e-b37c-55c3898d9bf4\",\n    },\n  },\n  achDetails: {\n    source: {\n      addenda: {\n        values: [\"ABC123_AddendaValue\"],\n      },\n    },\n  },\n  clearing: {\n    source: \"standard\",\n  },\n  items: [\n    {\n      _links: {\n        destination: {\n          href: \"https://api-sandbox.dwolla.com/funding-sources/9c7f8d57-cd45-4e7a-bf7a-914dbd6131db\",\n        },\n      },\n      amount: {\n        currency: \"USD\",\n        value: \"1.00\",\n      },\n      clearing: {\n        destination: \"next-available\",\n      },\n      metadata: {\n        payment1: \"payment1\",\n      },\n      correlationId: \"ad6ca82d-59f7-45f0-a8d2-94c2cd4e8841\",\n      achDetails: {\n        destination: {\n          addenda: {\n            values: [\"ABC123_AddendaValue\"],\n          },\n        },\n      },\n      processingChannel: {\n        destination: \"instant\",\n      },\n    },\n    {\n      _links: {\n        destination: {\n          href: \"https://api-sandbox.dwolla.com/funding-sources/b442c936-1f87-465d-a4e2-a982164b26bd\",\n        },\n      },\n      amount: {\n        currency: \"USD\",\n        value: \"5.00\",\n      },\n      clearing: {\n        destination: \"next-available\",\n      },\n      metadata: {\n        payment2: \"payment2\",\n      },\n      achDetails: {\n        destination: {\n          addenda: {\n            values: [\"ABC123_AddendaValue\"],\n          },\n        },\n      },\n    },\n  ],\n  metadata: {\n    batch1: \"batch1\",\n  },\n  correlationId: \"6d127333-69e9-4c2b-8cae-df850228e130\",\n};\n\ndwolla\n  .post(\"mass-payments\", requestBody)\n  .then((res) => res.headers.get(\"location\")); // => 'https://api-sandbox.dwolla.com/mass-payments/cf1e9e00-09cf-43da-b8b5-a43b3f6192d4'\n"
      - lang: python
        source: "# Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python\nrequest_body = {\n  '_links': {\n    'source': {\n      'href': 'https://api-sandbox.dwolla.com/funding-sources/707177c3-bf15-4e7e-b37c-55c3898d9bf4'\n    }\n  },\n  'achDetails': {\n    'addenda': {\n      'values': ['ABC123_AddendaValue']\n    }\n  },\n  'clearing': {\n    'source': 'standard'\n  },\n  'items': [\n    {\n      '_links': {\n        'destination': {\n          'href': 'https://api-sandbox.dwolla.com/funding-sources/9c7f8d57-cd45-4e7a-bf7a-914dbd6131db'\n        }\n      },\n      'amount': {\n        'currency': 'USD',\n        'value': '1.00'\n      },\n      'clearing': {\n        'destination': 'next-available'\n      },\n      'metadata': {\n        'payment1': 'payment1'\n      },\n      'correlationId': 'ad6ca82d-59f7-45f0-a8d2-94c2cd4e8841',\n      'achDetails': {\n        'addenda': {\n          'values': ['ABC123_AddendaValue']\n        }\n      },\n      'processingChannel': {\n        'destination': 'instant'\n      }\n    },\n    {\n      '_links': {\n        'destination': {\n          'href': 'https://api-sandbox.dwolla.com/funding-sources/b442c936-1f87-465d-a4e2-a982164b26bd'\n        }\n      },\n      'amount': {\n        'currency': 'USD',\n        'value': '5.00'\n      },\n      'clearing': {\n        'destination': 'next-available'\n      },\n      'metadata': {\n        'payment2': 'payment2'\n      },\n      'achDetails': {\n        'addenda': {\n          'values': ['ABC123_AddendaValue']\n        }\n      }\n    }\n  ],\n  'metadata': {\n    'batch1': 'batch1'\n  },\n  'correlationId': '6d127333-69e9-4c2b-8cae-df850228e130'\n}\n\nmass_payment = app_token.post('mass-payments', request_body)\nmass_payment.headers['location'] # => 'https://api-sandbox.dwolla.com/mass-payments/cf1e9e00-09cf-43da-b8b5-a43b3f6192d4'\n"
      - lang: php
        source: "<?php\n// Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php\n$massPaymentsApi = new DwollaSwagger\\MasspaymentsApi($apiClient);\n\n$massPayment = $massPaymentsApi->create([\n  '_links' =>\n  [\n    'source' =>\n    [\n      'href' => 'https://api-sandbox.dwolla.com/funding-sources/707177c3-bf15-4e7e-b37c-55c3898d9bf4',\n    ],\n  ],\n  'achDetails' =>\n  [\n    'source' => [\n      'addenda' => [\n        'values' => ['ABC123_AddendaValue']\n      ]\n    ]\n  ],\n  'clearing' =>\n  [\n    'source' => 'standard'\n  ],\n  'items' =>\n  [\n    [\n      '_links' =>\n      [\n        'destination' =>\n        [\n          'href' => 'https://api-sandbox.dwolla.com/funding-sources/9c7f8d57-cd45-4e7a-bf7a-914dbd6131db',\n        ],\n      ],\n      'amount' =>\n      [\n        'currency' => 'USD',\n        'value' => '1.00',\n      ],\n      'clearing' =>\n      [\n        'destination' => 'next-available'\n      ],\n      'metadata' =>\n      [\n        'payment1' => 'payment1',\n      ],\n      'correlationId' => 'ad6ca82d-59f7-45f0-a8d2-94c2cd4e8841',\n      'achDetails' =>\n      [\n        'source' => [\n          'addenda' => [\n            'values' => ['ABC123_AddendaValue']\n          ]\n        ]\n      ],\n      'processingChannel' => [\n        'destination' => 'instant'\n      ]\n    ],\n    [\n      '_links' =>\n      [\n        'destination' =>\n        [\n          'href' => 'https://api-sandbox.dwolla.com/funding-sources/b442c936-1f87-465d-a4e2-a982164b26bd',\n        ],\n      ],\n      'amount' =>\n      [\n        'currency' => 'USD',\n        'value' => '5.00',\n      ],\n      'clearing' =>\n      [\n        'destination' => 'next-available'\n      ],\n      'metadata' =>\n      [\n        'payment2' => 'payment2',\n      ],\n      'achDetails' =>\n      [\n        'source' => [\n          'addenda' => [\n            'values' => ['ABC123_AddendaValue']\n          ]\n        ]\n      ]\n    ],\n  ],\n  'metadata' =>\n  [\n    'batch1' => 'batch1',\n  ],\n  'correlationId' => '6d127333-69e9-4c2b-8cae-df850228e130',\n]);\n$massPayment; # => \"https://api-sandbox.dwolla.com/mass-payments/cf1e9e00-09cf-43da-b8b5-a43b3f6192d4\"\n?>\n"
      - lang: ruby
        source: "# Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby\nrequest_body = {\n  :_links => {\n    :source => {\n      :href => \"https://api-sandbox.dwolla.com/funding-sources/707177c3-bf15-4e7e-b37c-55c3898d9bf4\"\n    }\n  },\n  :achDetails => {\n    :source => {\n      :addenda => {\n        :values => [\"ABC123_AddendaValue\"]\n      }\n    }\n  },\n  :clearing => {\n    :source => \"standard\"\n  },\n  :items => [\n    {\n      :_links => {\n        :destination => {\n          :href => \"https://api-sandbox.dwolla.com/funding-sources/9c7f8d57-cd45-4e7a-bf7a-914dbd6131db\"\n        }\n      },\n      :amount => {\n        :currency => \"USD\",\n        :value => \"1.00\"\n      },\n      :clearing => {\n        :destination => \"next-available\"\n      },\n      :metadata => {\n        :payment1 => \"payment1\"\n      },\n      :correlationId => \"ad6ca82d-59f7-45f0-a8d2-94c2cd4e8841\",\n      :achDetails => {\n        :destination => {\n          :addenda => {\n            :values => [\"ABC123_AddendaValue\"]\n          }\n        }\n      },\n      :processingChannel => {\n        :destination => \"instant\"\n      }\n    },\n    {\n      :_links => {\n        :destination => {\n          :href => \"https://api-sandbox.dwolla.com/funding-sources/b442c936-1f87-465d-a4e2-a982164b26bd\"\n        }\n      },\n      :amount => {\n        :currency => \"USD\",\n        :value => \"5.00\"\n      },\n      :clearing => {\n        :destination => \"next-available\"\n      },\n      :metadata => {\n        :payment2 => \"payment2\"\n      },\n      :achDetails => {\n        :destination => {\n          :addenda => {\n            :values => [\"ABC123_AddendaValue\"]\n          }\n        }\n      }\n    }\n  ],\n  :metadata => {\n    :batch1 => \"batch1\"\n  },\n  :correlationId => \"6d127333-69e9-4c2b-8cae-df850228e130\"\n}\n\nmass_payment = app_token.post \"mass-payments\", request_body\nmass_payment.response_headers[:location] # => \"https://api-sandbox.dwolla.com/mass-payments/cf1e9e00-09cf-43da-b8b5-a43b3f6192d4\"\n"
      parameters:
      - $ref: '#/components/parameters/Accept'
      - name: Idempotency-Key
        schema:
          type: string
        in: header
        example: 19051a62-3403-11e6-ac61-9e71128cae77
      requestBody:
        required: true
        description: Parameters for initiating a mass payment
        content:
          application/json:
            schema:
              required:
              - _links
              - items
              type: object
              properties:
                _links:
                  type: object
                  properties:
                    source:
                      type: object
                      properties:
                        href:
                          type: string
                          example: https://api.dwolla.com/funding-sources/707177c3-bf15-4e7e-b37c-55c3898d9bf4
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      _links:
                        type: object
                        properties:
                          destination:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.dwolla.com/funding-sources/9c7f8d57-cd45-4e7a-bf7a-914dbd6131db
                      amount:
                        $ref: '#/components/schemas/TransferAmount'
                      processingChannel:
                        type: object
                        properties:
                          destination:
                            type: string
                            example: real-time-payments
                      metadata:
                        type: object
                      clearing:
                        type: object
                        properties:
                          destination:
                            type: string
                            example: next-available
                      achDetails:
                        type: object
                        properties:
                          destination:
                            type: object
                            properties:
                              addenda:
                                type: object
                                properties:
                                  values:
                                    type: array
                                    items:
                                      type: string
                                      example: XYZ987_AddendaValue
                      correlationId:
                        type: string
                        example: ad6ca82d-59f7-45f0-a8d2-94c2cd4e8841
                status:
                  type: string
                  example: deferred
                achDetails:
                  type: object
                  properties:
                    source:
                      type: object
                      properties:
                        addenda:
                          type: object
                          properties:
                            values:
                              type: array
                              items:
                                type: string
                                example: ZYX987_AddendaValue
                clearing:
                  type: object
                  properties:
                    source:
                      type: string
                      example: next-available
                metadata:
                  type: object
                correlationId:
                  type: string
                  example: ad6ca82d-59f7-45f0-a8d2-94c2cd4e8841
      responses:
        '201':
          description: created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Not authorized to create mass payment
    servers:
    - url: https://api.dwolla.com
      description: Production server
    - url: https://api-sandbox.dwolla.com
      description: Sandbox server
  /mass-payments/{id}:
    get:
      tags:
      - mass payments
      summary: Retrieve a mass payment
      description: Retrieve detailed information for a mass payment by its unique identifier. Returns the current processing status (pending, processing, or complete), creation date, metadata, and links to the source funding source and payment items. Use this endpoint to monitor mass payment processing progress and determine when to check individual item results.
      operationId: getMassPayment
      x-speakeasy-group: massPayments
      x-speakeasy-name-override: get
      x-codeSamples:
      - lang: bash
        source: 'GET https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563

          Accept: application/vnd.dwolla.v1.hal+json

          Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

          '
      - lang: javascript
        source: "// Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node\nvar massPaymentUrl =\n  \"https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563\";\n\ndwolla.get(massPaymentUrl).then((res) => res.body.status); // => 'processing'\n"
      - lang: python
        source: '# Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python

          mass_payment_url = ''https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563''


          mass_payment = app_token.get(mass_payment_url)

          mass_payment.body[''status''] # => ''processing''

          '
      - lang: php
        source: '<?php

          // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php

          $massPaymentUrl = ''https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563'';


          $massPaymentsApi = new DwollaSwagger\MasspaymentsApi($apiClient);


          $massPayment = $massPaymentsApi->byId($massPaymentUrl);

          $massPayment->status; # => "processing"

          ?>

          '
      - lang: ruby
        source: '# Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby

          mass_payment_url = "https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563"


          mass_payment = app_token.get mass_payment_url

          mass_payment.status # => "processing"

          '
      parameters:
      - name: id
        in: path
        description: Mass payment unique identifier
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/MassPayment'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Not authorized to retrieve mass payment
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: Mass payment not found
    post:
      tags:
      - mass payments
      summary: Update a mass payment
      description: Update the status of a deferred mass payment to control its processing lifecycle. Set status to `pending` to trigger processing and begin fund transfers, or `cancelled` to permanently cancel the mass payment before processing begins. Only applies to mass payments created with deferred status. Returns the updated mass payment resource with the new status.
      operationId: updateMassPayment
      x-speakeasy-group: massPayments
      x-speakeasy-name-override: update
      x-codeSamples:
      - lang: bash
        source: "POST https://api-sandbox.dwolla.com/mass-payments/692486f8-29f6-4516-a6a5-c69fd2ce854c\nAccept: application/vnd.dwolla.v1.hal+json\nContent-Type: application/vnd.dwolla.v1.hal+json\nAuthorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY\n\n{\n  \"status\": \"pending\"\n}\n"
      - lang: javascript
        source: "// Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node\nvar massPaymentUrl =\n  \"https://api-sandbox.dwolla.com/mass-payments/692486f8-29f6-4516-a6a5-c69fd2ce854c\";\nvar requestBody = {\n  status: \"pending\",\n};\n\ndwolla.post(massPaymentUrl, requestBody).then((res) => res.body.status); // => \"pending\"\n"
      - lang: python
        source: "# Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python\nmass_payment_url = 'https://api-sandbox.dwolla.com/mass-payments/692486f8-29f6-4516-a6a5-c69fd2ce854c'\nrequest_body = {\n  'status': 'pending'\n}\n\nmass_payments = app_token.post('mass-payments', request_body)\nmass_payments.body['status'] # => 'pending'\n"
      - lang: php
        source: "/**\n *  No example for this language yet. Coming soon.\n **/\n"
      - lang: ruby
        source: "# Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby\nmass_payment_url = 'https://api-sandbox.dwolla.com/mass-payments/692486f8-29f6-4516-a6a5-c69fd2ce854c'\nrequest_body = {\n      \"status\" => \"pending\",\n}\n\nmass_payment = app_token.post \"#{mass_payment_url}\", request_body\nmass_payment.status # => \"pending\"\n"
      parameters:
      - name: id
        in: path
        description: ID of mass payment to update
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for updating a mass payment
        content:
          application/json:
            schema:
              required:
              - status
              type: object
              properties:
                status:
                  type: string
                  example: pending
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/MassPayment'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Not authorized to update mass payment
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: Mass payment not found
    servers:
    - url: https://api.dwolla.com
      description: Production server
    - url: https://api-sandbox.dwolla.com
      description: Sandbox server
  /mass-payments/{id}/items:
    get:
      tags:
      - mass payments
      summary: List items for a mass payment
      description: Retrieve individual payment items within a mass payment with optional status filtering and pagination support. Each item represents a distinct payment with status indicators (failed, pending, success) showing whether a transfer was successfully created. Returns paginated item details including amount, destination, metadata, and error information for failed items. Supports filtering by status and standard pagination.
      operationId: listMassPaymentItems
      x-speakeasy-group: massPayments.items
      x-speakeasy-name-override: list
      x-codeSamples:
      - lang: bash
        source: 'GET https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563/items

          Accept: application/vnd.dwolla.v1.hal+json

          Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

          '
      - lang: javascript
        source: "// Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node\nvar massPaymentUrl =\n  \"https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563\";\n\ndwolla.get(`${massPaymentUrl}/items`).then((res) => res.body.total); // => 2\n"
      - lang: python
        source: '# Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python

          mass_payment_url = ''https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563''


          mass_payment_items = app_token.get(''%s/items'' % mass_payment_url)

          mass_payment_items.body[''total''] # => "2"

          '
      - lang: php
        source: '<?php

          // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php

          $massPaymentUrl = ''https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563'';


          $massPaymentItemsApi = new DwollaSwagger\MasspaymentitemsApi($apiClient);


          $massPaymentItems = $massPaymentItemsApi->getMassPaymentItems($massPaymentUrl);

          $massPaymentItems->total; # => "2"

          ?>

          '
      - lang: ruby
        source: '# Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby

          mass_payment_url = ''https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563''


          mass_payment_items = app_token.get "#{mass_payment_url}/items"

          mass_payment_items.total # => 2

          '
      parameters:
      - name: id
        in: path
        description: Mass payment unique identifier
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: How many results to return
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: How many results to skip
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Filter by item status
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563/items
                      first:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563/items?limit=25&offset=0
                      last:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563/items?limit=25&offset=0
                  _embedded:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/MassPaymentItem'
                  total:
                    type: integer
                    format: int32
                    example: 3
        '403':
          description: Not authorized to list mass payment items
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Not authorized to list mass payment items.
        '404':
          description: Mass payment not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: Mass payment not found.
    servers:
    - url: https://api.dwolla.com
      description: Production server
    - url: https://api-sandbox.dwolla.com
      description: Sandbox server
  /mass-payment-items/{itemId}:
    get:
      tags:
      - mass payments
      summary: Retrieve mass payment item
      description: Retrieve detailed information for a specific mass payment item by its unique identifier. Returns item status, amount, metadata, and links to the parent mass payment, associated transfer, and destination funding source. Use this endpoint to check the processing status and details of an individual item within a mass payment batch.
      operationId: getMassPaymentItem
      x-speakeasy-group: massPayments.items
      x-speakeasy-name-override: get
      x-codeSamples:
      - lang: bash
        source: 'GET https://api-sandbox.dwolla.com/mass-payment-items/c1c7d293-63ec-e511-80df-0aa34a9b2388

          Accept: application/vnd.dwolla.v1.hal+json

          Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

          '
      - lang: javascript
        source: "// Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node\nvar massPaymentItemUrl =\n  \"https://api-sandbox.dwolla.com/mass-payment-items/c1c7d293-63ec-e511-80df-0aa34a9b2388\";\n\ndwolla.get(massPaymentItemUrl).then((res) => res.body.status); // => 'success'\n"
      - lang: python
        source: '# Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python

          mass_payment_item_url = ''https://api-sandbox.dwolla.com/mass-payment-items/c1c7d293-63ec-e511-80df-0aa34a9b2388''


          mass_payment_item = app_token.get(mass_payment_item_url)

          mass_payment_item.body[''status''] # => ''success''

          '
      - lang: php
        source: '<?php

          // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php

          $massPaymentItemUrl = ''https://api-sandbox.dwolla.com/mass-payment-items/c1c7d293-63ec-e511-80df-0aa34a9b2388'';


          $massPaymentItemsApi = new DwollaSwagger\MasspaymentitemsApi($apiClient);


          $massPaymentItem = $massPaymentItemsApi->byId($massPaymentItemUrl);

          $massPaymentItem->status; # => "success"

          ?>

          '
      - lang: ruby
        source: '# Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby

          mass_payment_item_url = ''https://api-sandbox.dwolla.com/mass-payment-items/c1c7d293-63ec-e511-80df-0aa34a9b2388''


          mass_payment_item = app_token.get mass_payment_item_url

          mass_payment_item.status # => "success"

          '
      parameters:
      - name: itemId
        in: path
        description: ID of item to be retrieved in mass payment
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: success operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/MassPaymentItem'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Not authorized to retrieve mass payment item
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: Mass payment item not found
    servers:
    - url: https://api.dwolla.com
      description: Production server
    - url: https://api-sandbox.dwolla.com
      description: Sandbox server
  /customers/{id}/mass-payments:
    get:
      tags:
      - mass payments
      summary: List mass payments for customer
      description: Retrieve all previously created mass payments for a Verified Customer account with optional correlation ID filtering and pagination support. Mass payments are returned ordered by date created with most recent appearing first. Returns paginated results including mass payment status, metadata, source funding information, and item links. Supports standard pagination parameters and correlation ID search for enhanced traceability.
      operationId: listCustomerMassPayments
      x-speakeasy-group: customers.massPayments
      x-speakeasy-name-override: list
      x-codeSamples:
      - lang: bash
        source: 'GET https://api-sandbox.dwolla.com/customers/39e21228-5958-4c4f-96fe-48a4bf11332d/mass-payments

          Accept: application/vnd.dwolla.v1.hal+json

          Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

          '
      - lang: javascript
        source: "// Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node\nvar customerUrl =\n  \"https://api-sandbox.dwolla.com/customers/ca32853c-48fa-40be-ae75-77b37504581b\";\n\ndwolla\n  .get(`${customerUrl}/mass-payments`, { limit: 10 })\n  .then((res) => res.body._embedded[\"mass-payments\"][0].status); // => \"complete\"\n"
      - lang: python
        source: '# Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python

          customer_url = ''https://api-sandbox.dwolla.com/customers/ca32853c-48fa-40be-ae75-77b37504581b''


          mass_payments = app_token.get(''%s/mass-payments'' % customer_url)

          mass_payments.body[''_embedded''][''mass-payments''][0][''status''] # => ''complete''

          '
      - lang: php
        source: '<?php

          // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php

          $customerUrl = ''http://api-sandbox.dwolla.com/customers/01B47CB2-52AC-42A7-926C-6F1F50B1F271'';

          $masspaymentsApi = new DwollaSwagger\MasspaymentsApi($apiClient);

          $masspayments = $masspaymentsApi->getByCustomer($customerUrl);

          $masspayments->_embedded->{''mass-payments''}[0]->status; # => "complete"

          ?>

          '
      - lang: ruby
        source: '# Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby

          customer_url = ''https://api-sandbox.dwolla.com/customers/ca32853c-48fa-40be-ae75-77b37504581b''


          mass_payments = app_token.get "#{customer_url}/mass-payments", limit: 10

          mass_payments._embedded[''mass-payments''][0].status # => "complete"

          '
      parameters:
      - name: id
        in: path
        description: Customer ID to get mass payments for
        required: true
        schema:
          type: string
      - name: correlationId
        in: query
        description: A string value to search on if `correlationId` was specified for a transaction
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of search results to return. Defaults to 25
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: Number of search results to skip. Use for pagination
        required: false
        schema:
          type: integer
      - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/MassPayments'
        '403':
          description: Not authorized to list mass payments
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotAuthorized
                  message:
                    type: string
                    example: Not authorized to list mass payments.
        '404':
          description: Customer not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: Customer not found.
    servers:
    - url: https://api.dwolla.com
      description: Production server
    - url: https://api-sandbox.dwolla.com
      description: Sandbox server
components:
  schemas:
    HalLink:
      title: HalLink
      type: object
      properties:
        href:
          type: string
          example: https://api.dwolla.com
        type:
          type: string
          example: application/vnd.dwolla.v1.hal+json
        resource-type:
          type: string
          example: resource-type
    TransferAmount:
      title: TransferAmount
      type: object
      required:
      - value
      - currency
      properties:
        value:
          type: string
          example: '5.00'
        currency:
          type: string
          example: USD
    BadRequestError:
      title: BadRequestError
      description: Error response schema for 400 Bad Request
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          example: BadRequest
        message:
          type: string
          example: The request body contains bad syntax or is incomplete.
    MassPayment:
      title: MassPayment
      type: object
      properties:
        _links:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/HalLink'
        id:
          type: string
          example: 11ac4051-7b76-44fc-87ab-ae23012393f0
        status:
          type: string
          example: complete
        created:
          type: string
          format: date-time
          example: '2022-01-20T17:41:41.000Z'
        metaData:
          type: object
        total:
          $ref: '#/components/schemas/TransferAmount'
        totalFees:
          $ref: '#/components/schemas/TransferAmount'
        correlationId:
          type: string
          example: CID-8a2cdc8d-629d-4a24-98ac-40b735229fe2
    MassPaymentItem:
      title: MassPaymentItem
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.dwolla.com/mass-payment-items/c1c7d293-63ec-e511-80df-0aa34a9b2388
            mass-payment:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563
            destination:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.dwolla.com/funding-sources/b442c936-1f87-465d-a4e2-a982164b26bd
            transfer:
              type: object
              properties:
                href:
                  type: string
                  example: https://api.dwolla.com/transfers/fa3999db-41ed-e511-80df-0aa34a9b2388
        id:
          type: string
          example: 2f845bc9-41ed-e511-80df-0aa34a9b2388
        status:
          type: string
          example: success
        amount:
          type: object
          properties:
            value:
              type: string
              example: '1.00'
            currency:
              type: string
              example: USD
        metadata:
          type: object
          properties:
            item1:
              type: string
              example: item1
        processingChannel:
          type: object
          properties:
            destination:
              type: string
              example: real-time-payments
    MassPayments:
      title: MassPayments
      type: object
      properties:
        _links:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/HalLink'
        _embedded:
          type: object
          properties:
            mass-payments:
              type: array
              items:
                $ref: '#/components/schemas/MassPayment'
        total:
          type: integer
          example: 100
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The media type of the response. Must be application/vnd.dwolla.v1.hal+json
      schema:
        type: string
        enum:
        - application/vnd.dwolla.v1.hal+json
        default: application/vnd.dwolla.v1.hal+json
  headers:
    Location:
      description: The location of the created resource
      schema:
        type: string
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /token
          x-speakeasy-token-endpoint-authentication: client_secret_basic
          scopes: {}
x-refined-from:
- dwolla-mass-payments-openapi.yml
- dwolla-openapi.yml
